# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorFlow / Keras
*.ckpt
*.h5
*.pb
saved_model/
logs/

# IDEs
.vscode/
.idea/
